!!!
%head
  %meta{:charset => 'utf-8'}
    %title Nixon-&#960;
    %meta{:content => '', :name => 'description'}
    %meta{:content => 'daniel.kummer@gmail.com', :name => 'author'}
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1', :name => 'viewport'}

    /fonts
    %link{:href => 'http://fonts.googleapis.com/css?family=Josefin+Sans:400,700', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Lobster+Two:400,700', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Share+Tech+Mono|Montserrat+Subrayada:400,700|Allerta+Stencil', :rel => 'stylesheet', :type => 'text/css'}

    != css :application

%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{'data-target' => '#main-navigation', 'data-toggle' => 'collapse', type: 'button'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => '/'} Nixon-&#960;
      #main-navigation.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a.active{href: '/'}
              %span.glyphicon.glyphicon-dashboard
              Control
          %li
            %a{href: '/scheduler.html'}
              %i.glyphicon.glyphicon-tasks
              Scheduler
          %li
            %a{href: '/logs.html'}
              %i.glyphicon.glyphicon-console
              Log
          %li
            %a{href: 'https://danielkummer.github.com/nixon-pi/#api'}
              %i.glyphicon.glyphicon-transfer
              API
          %li
            %a{href: 'https://github.com/danielkummer/nixon-pi'}
              %i.glyphicon.glyphicon-cloud
              Github


  .container
    .page-header
      %h1
        Nixon
        = img '/images/nixie-tube.png'
        %span= version
      .lead Nixie-tubes and raspberry-pi in a loving combination

    = yield

  %footer.footer

  != js :app


