!!!
%head
  %meta{:charset => 'utf-8'}
    %title Nixon-&#960;
    %meta{:content => '', :name => 'description'}
    %meta{:content => '', :name => 'author'}
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1', :name => 'viewport'}

    /fonts
    %link{:href => 'http://fonts.googleapis.com/css?family=Josefin+Sans:400,700', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Lobster+Two:400,700', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Share+Tech+Mono|Montserrat+Subrayada:400,700|Allerta+Stencil', :rel => 'stylesheet', :type => 'text/css'}

    != css :application

%body
  %nav.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{'data-target' => '#main-navigation', 'data-toggle' => 'collapse', type: 'button'}
          %span.sr-only Toggle navigation
          %span.glyphicon.glyphicon-bar
          %span.glyphicon.glyphicon-bar
          %span.glyphicon.glyphicon-bar
        %a.navbar-brand{:href => '#'} Nixon-&#960;
      #main-navigation.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: '/'}
              %i.glyphicon.glyphicon-cogs.pull-left
              Control
          %li{style:'height:30px;'}
            %a{href: '/scheduler.html'}
              %i.glyphicon.glyphicon-tasks.pull-left
              Scheduler
          %li{style:'height:30px;'}
            %a{href: '/logs.html'}
              %i.glyphicon.glyphicon-list-alt.pull-left
              Log
          %li{style:'height:30px;'}
            %a{href: 'http://danielkummer.github.com/nixon-pi/#api'}
              %i.glyphicon.glyphicon-exchange.pull-left
              API
          %li{style:'height:30px;'}
            %a{href: 'https://github.com/danielkummer/nixon-pi'}
              %i.glyphicon.glyphicon-github-alt.pull-left
              Github


  .container
    .page-header
      %h1
        Nixon
        = img '/images/nixie-tube.png'
        %span= version
        %span
    .content
      = yield

  %footer.footer
  != js :app


