.row
  .span2
    %h2
      %i.icon-lightbulb
      %i.icon-lightbulb
      Tubes
  .span6
    %form{ action: "/tubes#{"/" + @tubes.id.to_s if @tubes.id}", method: "POST", class: "form-horizontal", "data-remote" => true}
      .row
        .span6
          .control-group
            %input{type: "text", name: "value", class: "input-tubes search-query input-block-level right"}

          %input{type: "hidden", name: "id", value:"#{@tubes.id}"}
          .accordion-group
            .accordion-heading
              %a{class: "btn-more", 'data-toggle'=>"collapse",  href:"#more"}
                %i.icon-sitemap
                advanced
            #more.collapse.accordion-body
              .control-group
                %label.control-label Mode
                .controls
                  %select{name: "state", class: "input_mode input-xlarge"}
                    %option{selected: "", value: "free_value"} Free value
                    %option{value: "time"} Time format
                    %option{value: "animation"} Tube animation
                    %option{value: "countdown"} Countdown
              .control-group
                %label.control-label Animation Name
                .controls
                  %select{name: "animation_name", class: "input-xlarge", value:"#{@tubes.animation_name}"}
                    %option
                    %option{value: "switch_numbers"} switch numbers
                    %option{value: "single_fly_in"} fly in
              .control-group
                %label.control-label{for: "value"} Options Hash
                .controls
                  %input{type: "text", name: "options", class: "input-xlarge", value:"#{@tubes.options}"}
              .control-group
                %label.control-label Load on startup
                .controls
                  %input{type: "checkbox", name: "initial", class: "input-medium"}
        .span6{style:"padding-top:10px;"}
          %button{type: "submit", value: "Send", class: "btn btn-green"}
            GO
  .span4
    .well
      = format_loaded_values(@tubes)


.row.row-divider
  .span2
    %h2
      %i.icon-lightbulb
      Lamps
  .span6
    %form{ action: "/lamps#{"/" + @lamps.id.to_s if @lamps.id}", method: "POST", class: "form-inline", "data-remote" => true}
      .row
        .span12
          -@lamp_count.times.with_index do |index|
            %button{type: "button", class: "btn btn-lamp", "data-toggle" => "button", title:"icon-circle-blank" }
              %i.icon-circle-blank
              %input{type: "checkbox", name: "values[]", value: "#{index}", style:"display: none;"}
          %input{type: "hidden", name: "state", value: "free_value"}
  .span4
    .well
      = format_loaded_values(@lamps)

.row.row-divider
  .span2
    %h2
      %i.icon-tasks
      Bars
  .span6
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", href: "#free_value", class: "active"} Free value
      %li
        %a{"data-toggle" => "tab", href: "#animation"} Animation

    .tab-content
      #free_value.tab-pane.active
        %form{ action: "/bars#{"/" + @bars.id.to_s if @bars.id}", method: "POST", class: "form", "data-remote" => true}
          .row
            .span6
              .bars
                -@bar_count.times do
                  .control-group
                    .controls.bar-control
                      %input{:type => "range", :name => "values[]", :class => "range", min: "0", max: "255", value: "0"}
                %input{type: "hidden", name: "state", value: "free_value"}

      #animation.tab-pane
        .row
          .span6
            .control-group
              %label.control-label{for: "animation_name"} Animation
              .controls
                %select{name: "animation_name", class: "input-large"}
                  %option{selected: "", value: "ramp_up_down"} ramp up down
            .control-group
              %label.control-label{for: "value"} Options (Hash)
              .controls
                %input{type: "text", name: "options", class: "input-large"}
            %input{type: "hidden", name: "state", value: "animation"}

            %input{type: "submit", value: "GO", class: "btn"}
      #something_else.tab-pane
  .span4
    .well
      = format_loaded_values(@bars)

.row.row-divider
  .span2
    %h2
      %i.icon-comment
      Say
  .span6
    %form{ action: "/say", method: "POST", class:"", "data-remote" => true}
      .row
        .span12
          %input{type: "text", name: "value", class: "input-xxlarge"}





