.row
  .span2
    %h2 Tubes
  .span6
    %form{ action: "/tubes#{"/" + @tubes.id.to_s if @tubes.id}", method: "POST", class: "form-horizontal", "data-remote" => true}
      .row
        .span6
          .control-group
            %input{type: "text", name: "value", class: "input-tubes search-query input-block-level right"}

          %input{type: "hidden", name: "id", value:"#{@tubes.id}"}
          .accordion-group
            .accordion-heading
              %a{class: "btn-more", 'data-toggle'=>"collapse",  href:"#more"} advanced
            #more.collapse.accordion-body
              .control-group
                %label.control-label Mode
                .controls
                  %select{name: "state", class: "input_mode input-medium"}
                    %option{selected: "", value: "free_value"} Free value
                    %option{value: "time"} Time format
                    %option{value: "animation"} Tube animation
                    %option{value: "countdown"} Countdown
              .control-group
                %label.control-label Animation Name
                .controls
                  %select{name: "animation_name", class: "input-medium", value:"#{@tubes.animation_name}"}
                    %option
                    %option{value: "switch_numbers"} switch numbers
                    %option{value: "single_fly_in"} fly in
                    %option{value: "single_fly_in"} countdown
              .control-group
                %label.control-label{for: "value"} Options Hash
                .controls
                  %input{type: "text", name: "options", class: "input-medium", value:"#{@tubes.options}"}
              .control-group
                .controls
                  %label.checkbox{for: "load_on_startup"}
                    %input{type: "checkbox", name: "initial", class: "input-medium"} Load on startup
        .span6{style:"padding-top:10px;"}
          %button{type: "submit", value: "Send", class: "btn btn-green"}
            GO
  .span4
    .well
      = format_loaded_values(@tubes)


.row.divider
  .span2
    %h2 Lamps
  .span10
    %form{ action: "/lamps#{"/" + @lamps.id.to_s if @lamps.id}", method: "POST", class: "form-inline", "data-remote" => true}
      .row
        .span12
          -@lamp_count.times.with_index do |index|
            %button{type: "button", class: "btn btn-lamp", "data-toggle" => "button" }
              = "#{index + 1}"
              %input{type: "checkbox", name: "values[]", value: "#{index}", style:"display: none;"}
          %input{type: "hidden", name: "state", value: "free_value"}
  .span4
    .well
      = format_loaded_values(@lamps)

.row.divider
  .span2
    %h2 Bars
  .span6
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", href: "#free_value", class: "active"} Free value
      %li
        %a{"data-toggle" => "tab", href: "#animation"} Animation

    .tab-content
      #free_value.tab-pane.active
        %form{ action: "/bars#{"/" + @bars.id.to_s if @bars.id}", method: "POST", class: "form", "data-remote" => true}
          .row
            .span6
              .bars
                -@bar_count.times do
                  .control-group
                    .controls.bar-control
                      %input{:type => "range", :name => "values[]", :class => "range", min: "0", max: "255", value: "0"}
                %input{type: "hidden", name: "state", value: "free_value"}

      #animation.tab-pane
        .row
          .span6
            .control-group
              %label.control-label{for: "animation_name"} Animation
              .controls
                %select{name: "animation_name", class: "input-medium"}
                  %option{selected: "", value: "ramp_up_down"} ramp up down
            .control-group
              %label.control-label{for: "value"} Options (Hash)
              .controls
                %input{type: "text", name: "options", class: "input-medium"}
            %input{type: "hidden", name: "state", value: "animation"}

            %input{type: "submit", value: "GO", class: "btn"}
      #something_else.tab-pane
  .span4
    .well
      = format_loaded_values(@bars)

.row.divider
  .span2
    %h2 Say
  .span6
    %form{ action: "/say", method: "POST", class:"", "data-remote" => true}
      .row
        .span12
          %input{type: "text", name: "value", class: "input-xxlarge"}

.row.divider
  .span2
    %h2 Scheduler
  .span6
    %form{ action: "/scheduler", method: "POST", class: "", "data-remote" => true}
      .control-group
        %select{name: "type", class: "chzn-select", "data-placeholder" => "Select Timing", style:"width:300px;"}
          %option
          %option{value: "in"} in
          %option{value: "at"} at
          %option{value: "every"} every
          %option{value: "cron"} cron
      .control-group
        %input{type: "text", name: "time", class: "input-large", placeholder: "Time" }
      .control-group
        %select{name: "queue", class: "chzn-select", "data-placeholder" => "Select Target", style:"width:300px;"}
          %option
          %option{value: "power"} Power
          %option{value: "tubes"} Tubes
          %option{value: "Bars"} Bars
          %option{value: "Lamps"} Lamps
          %option{value: "Say"} Say
      .control-group
        %textarea{name: "command", rows: "5"}
      .control-group
        %input{type: "submit", value:"Schedule", class:"btn"}
  .span4
    .well



