.span10
  %h2 Tubes
  %form{ action: "/tubes#{"/" + @lamp.id if lamps.id}", method: "POST", class: "form"}
    .control-group
      .input-append
        %input{type: "text", name: "value", class: "input-tubes search-query input-block-level", value: "#{@tube_data[:last_value]}"}
        %button{type: "submit", value: "Send", class: "btn btn-tubes"}
          GO
    %a{class: "btn", 'data-toggle'=>"collapse",  href:"#more"} more
    #more.collapse
      .control-group
        %label.control-label Mode
        .controls
          %select{name: "mode", class: "input_mode input-medium"}
            %option{selected: "", value: "free_value"} Free value
            %option{value: "time_format"} Time format
            %option{value: "tube_animation"} Tube animation
            %option{value: "countdown"} Countdown
      .control-group
        %label.control-label Animation Name
        .controls
          %select{name: "animation_name", class: "input-medium"}
            %option{selected: "", value: "switch_numbers"} switch numbers
            %option{value: "single_fly_in"} fly in
      .control-group
        %label.control-label{for: "value"} Options Hash (Animations, Countdown(Time Format (e.g.%H %M %S))
        .controls
          %input{type: "text", name: "options", class: "input-medium"}
      .control-group
        %label.control-label{for: "load_on_startup"}
        .controls
          %input{type: "checkbox", name: "initial", class: "input-medium"}



.span10
  %h2 Lamps (todo doesn't work)
  %form{ action: "/lamps", method: "POST", class: "form-inline"}
    -@lamps.each_with_index do |lamp, index|
      %button{type: "button", class: "btn btn-lamp", "data-toggle" => "button" }
        = "#{index + 1}"
      %input{type: "hidden", name: "values[#{index}]", value: "0"}
    %input{type: "hidden", name: "mode", value: "free_value"}
    %button{type: "submit", value: "GO", class: "btn"} GO

.span10
  .row
    .span3
      %h2 Say
      %form{ action: "/say", method: "POST"}
      .input-append
        %input{type: "text", name: "value", class: "text"}
        %input{type: "submit", value: "GO", class: "btn"}
    .span6
      %h2 Bars
      %ul.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", :href => "#free_value"} Free value
        %li
          %a{"data-toggle" => "tab", :href => "#animation"} Animation
        %li
          %a{"data-toggle" => "tab", :href => "#something_else"} ...


      .tab-content
        #free_value.tab-pane.active
          %form{ action: "/bars", method: "POST", class: "form"}
            -@bars.each do |bar|
              .control-group
                .controls.bar-control
                  %input{:type => "range", :name => "values[]", :class => "range", min: "0", max: "255", value: "0"}
            %input{type: "hidden", name: "mode", value: "free_value"}
            %input{type: "submit", value: "GO", class: "btn"}
        #animation.tab-pane
          %form{ action: "/bars", method: "POST", class: "form-inline"}
            %select{name: "animation_name", class: "input-medium"}
              %option{selected: "", value: "ramp_up_down"} ramp up down
            %label.control-label{for: "value"} Options (Hash)
            %input{type: "text", name: "options", class: "input-medium"}
            %input{type: "hidden", name: "mode", value: "animation"}
            %input{type: "submit", value: "GO", class: "btn"}
        #something_else.tab-pane


:javascript
  $(":range").rangeinput({progress: true});